<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        ul {
            list-style-type: none;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Movie Ticket Shop App</h1>
</header>
<main>
    <h2>Search a movie:</h2>
    <form th:method="get" th:action="@{/movies}">
        <input type="text" th:name="searchMovies">
        <input type="number" th:name="searchRating">
        <input type="submit" th:value="Search">
    </form>


    <h2>Choose movie:</h2>
    <!-- Display radio buttons for each movie,
            the value should be the movie title
            and the displayed text should be Title: <movie_title>, Summary:<movie_summary>, Rating: <movie_rating> -->
    <form th:method="post" th:action="@{/movies}">
        <ul th:each="movie : ${movies}">
            <input type="radio" th:name="selectedMovie" th:value="${movie.getTitle()}" th:text="${'Title: ' + movie.getTitle() + ', Summary: ' + movie.getSummary() + ', Rating: ' + movie.getRating()}">
        </ul>

    <h2>Choose number of tickets:</h2>

    <input type="number" name="numTickets" min="1" max="10"><br/>
    <br/>
    <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>