<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</head>

<body>
<header>
    <h1>Web Programing</h1>
</header>


<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${productions.size() > 0}">

            <form th:method="POST" th:action="@{/productions}">
                <div class="table-responsive ">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Production Name</th>
                            <th scope="col">Country</th>
                            <th scope="col">Address</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr th:each="production : ${productions}" class="production">
                            <td th:name="production" th:text="${production.getName()}"></td>
                            <td th:text="${production.getCountry()}"></td>
                            <td th:text="${production.getAddress()}"></td>
                            <td class="text-right">
                                <th:block>
                                    <form th:action="@{'/productions/delete/{id}' (id=${production.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Delete</i>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block>
                                    <a th:href="@{'/productions/edit-formP/{id}' (id=${production.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit</i>
                                    </a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div>
                <a th:href="@{/productions/add-formP}" class="btn btn-sm btn-success">
                    <i class="fa fa-plus">Add new production</i>
                </a>
            </div>
            <div>
                <a th:href="@{/movies}" class="btn btn-sm btn-info">
                    <i class="fa fa-plus">See Movies</i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>