<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Ordered Ticket - Confirmation</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }
  </style>
</head>
<body>
<section>
  <header>
    <h1>Movie Order page - Order confirmation </h1>
  </header>
  <form th:action="@{'/shopping-cart/add-product/' + ${orderId}}"
        th:method="POST">
    <input type="hidden" th:name="localDateTime" th:value="${localDateTime}" />
  <table>
    <tr>
      <th colspan="2">
        Your Order Status
      </th>
    </tr>
    <tr>
      <td><b>Client Name </b></td>
      <td th:text="${fullName.name} + ${fullName.surname}"></td>
    </tr>
    <tr>
      <td><b>Date of order</b></td>
      <td th:text="${localDateTime}"></td>
    </tr>
    <tr>
      <td><b>Ticket for Movie</b></td>
      <td th:text="${movieTitle}"></td>
    </tr>
    <tr>
      <td><b>Number of tickets</b></td>
      <td th:text="${numTickets}"></td>
    </tr>
  </table>
    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-shopping-cart">Go to your shopping cart!</i></button>
  </form>
</section>
</body>
</html>